*{
    margin: 0;
    padding: 0;
}

:root{
    --btn-bg: #596D48;
    --input-border: #E5E7EB;
}

@font-face {
    font-family: odinFont;
    src: url(fonts/Norse-Bold.otf);
}

.main{
    display: flex;
}

.main-left{
    background-image: url(images/background.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 40vw;
}

.title-div{
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.logo{
    height: 150px;
    padding: 20px 0px;
}

.title-text{
    font-family: odinFont;
    color: white;
    font-size: 7.5rem;
    text-align: center;
}

.main-right{
    padding: 20vh 0vw 10vh 0vw;
    display: flex;
    flex-direction: column;
    background-color: #f9fafc;
}

.main-text{
    padding-left: 2.5vw;
    padding-right: 20vw;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.legend{
    padding-left: 2.5vw;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-section{
    padding-left: 2.5vw;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-section-half{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label{
    font-size: 1rem;
}

.input{
    border-color: var(--input-border);
    border-radius: 5px;
    border-width: 1px;
    width: min(400px, 20vw);
    height: 30px;
    text-indent: 5px;
}

.input:focus{
    border-color: rgb(48, 180, 241);
}

.input:invalid{
    border-color: rgb(231, 99, 22);
}

.btn{
    margin-top: 50px;
    margin-left: 2.5vw;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--btn-bg);
    color: white;
    font-size: 1.5rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.116);
}

.btn:hover{
    cursor: pointer;
}

.login-div{
    display: flex;
    padding-left: 2.5vw;
    padding-top: 50px;
    gap: 5px;
    font-weight: 500;
}

.anchor{
    text-decoration: none;
    color: var(--btn-bg);
}